{% extends  'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
  <h6>Enter the city name to get today's weather forecast</h6>
</div>
<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}
      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="{{ form.city.id_for_label }}" name="{{ form.city.name }}" placeholder="City  " value="{{ form.city.value|default_if_none:'' }}">
        <label for="{{ form.city.id_for_label }}">City</label>
      </div>
      {% if form.city.errors %}
      <div class="invalid-feedback d-block">
        {% for error in form.city.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% if form.non_field_errors %}
      <div class="invalid-feedback d-block w-100 text-center" role="alert">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="d-flex justify-content-center">
      <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
  </form>

{% endblock %}
